nav{
    background-color: #e72e77;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
.serachLog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.serachIcon{
    background-color: #b4245d;
    padding: 4px 12px;
    border-radius: 50%;
}
.login{
    background-color: #b4245d;
    padding: 4px 13px;
    border-radius: 20px;
}
